// VALUE /////////////////

$bg: #dde6f0;

// loading color -------------
$lc: #f50;

$fix: 100%;

// shadow ---------------------
$bs: 0 1px 0 rgba(0, 0, 0, 0.2);

// circle diameter ------------
$w: 100px;

// highlight thickness --------
$low: 10px;

// timer -----------------------
$tm: 8s;

//  mixin- --------------------
// =keyframes($name)
//   @-webkit-keyframes #{$name}
//     @content

#loading {
  width: $w;
  height: $w;
  margin: 30px auto;
  position: relative;
}

.outer-shadow {
  z-index: 6;
  position: absolute;
  width: $fix;
  height: $fix;
  border-radius: $fix;
  box-shadow: inset $bs;
}

.inner-shadow {
  @extend .outer-shadow;
  top: 50%;
  left: 50%;
  width: $w - ($low * 2);
  height: $w - ($low * 2);
  margin-left: -($w - ($low * 2))/2;
  margin-top: -($w - ($low * 2))/2;
  border-radius: $fix;
  background-color: $bg;
  box-shadow: $bs;
}
