.section-about-container {
  width: 100%;
  max-width: 1200px;
  margin: 15rem auto 0rem;
  position: relative;
  z-index: 10;
}

.section-about-header-title-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 25rem;
}

.section-about-header-title {
  font-size: 6rem;
  line-height: 7.6rem;
  font-family: "Lora-Regular";
  color: $color-light-blue;
}

.section-about-header-title-line {
  display: flex;
  width: 10rem;
  height: 0.3rem;
  background-color: #6492ff;
  margin: 2rem 0 4rem 0;
}

.section-about-header-description {
  width: 100%;
  max-width: 64.4rem;
  display: flex;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-family: "Montserrat-Regular";
  color: $color-light-blue;
}

// section number
.section-about-number-container {
}
.section-about-number-circle {
}
.section-about-number-wrapper {
  position: relative;
}
.section-about-number-wrap {
  position: relative;
}
.section-about-number {
  font-size: 15rem;
  font-family: "Arial-Black";
  -webkit-text-stroke: 0.4rem rgba(#eaf0ff, 0.6);
  color: transparent;
  position: absolute;

  z-index: -1;
}
.section-about-number-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: #1e2236;
  position: absolute;

  z-index: -2;
}

.section-about-number-circle.number-one-circle {
  left: -7rem;
  top: -16rem;
}
.section-about-number-circle.number-two-circle {
  right: -8rem;
  top: 1rem;
}
.section-about-number-circle.number-three-circle {
  left: -2rem;
  bottom: -97rem;
}
.section-about-number-circle.number-four-circle {
  right: -3.5rem;
  bottom: -119rem;
}

.section-about-number.number-one {
  top: -20rem;
  left: -12rem;
}
.section-about-number.number-two {
  top: -1rem;
  right: -12rem;
}
.section-about-number.number-three {
  bottom: -105rem;
  left: -5rem;
}
.section-about-number.number-four {
  bottom: -128rem;
  right: -4rem;
}

// card section
.section-about-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20rem;
  //   margin-top: 25rem;
}

.section-about-card {
  display: flex;
  flex-direction: column;
}
.section-about-card.margin-top {
  margin-top: 25rem;
}

.section-about-card-image-wrapper {
  width: 50rem;
  height: 28rem;
  display: flex;
  border-radius: 0.5rem;
  position: relative;
  margin-bottom: 4rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.4);
    z-index: 2;
  }
}
.section-about-card-image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.section-about-card-text {
  display: flex;
  flex-direction: column;
}
.section-about-card-title {
  font-size: 4rem;
  font-family: "Lora-Regular";
  line-height: 5.1rem;
  color: $color-light-blue;
}
.section-about-card-title-line {
  width: 6rem;
  height: 0.3rem;
  background-color: #6492ff;
  margin: 2rem 0;
}

.section-about-card-description {
  font-size: 1.6rem;
  font-family: "Montserrat-Regular";
  line-height: 2.5rem;
  color: $color-light-blue;
}

// slider about

.slider-about {
  overflow: hidden;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 10;
  margin: 25rem 0;
}

.slider-about-inner {
  // white-space: nowrap;
  display: flex;
  transition: transform 1s ease-in-out;
  // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.slider-about-image-wrapper {
  width: 100vw;
  height: 70rem;
  display: flex;
  position: relative;
  z-index: -1;
}
.slider-about-image-filter {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(#000, 0.3);
}

.slider-about-image-number {
  font-size: 50rem;
  line-height: 76.5rem;
  font-family: "Arial-Black";
  -webkit-text-stroke: 2rem rgba(#eaf0ff, 0.6);
  position: absolute;
  right: 44.3rem;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.slide-1 {
  //  background-image: url("/images/img4.jpeg");
  background-size: 170%;
  background-position: 80% 115%;
}
.slide-2 {
  //  background-image: url("/images/img4.jpeg");
  background-size: 180%;
  background-position: 80% 135%;
}
.slide-3 {
  //  background-image: url("/images/img4.jpeg");
  background-size: 170%;
  background-position: 50% 115%;
}

.slider-about-image {
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-about-item {
  display: flex;
  // align-items: center;
  // justify-content: center;
  //   height: 490px;
  // min-height: 67rem;
  // max-height: 80rem;
  position: relative;
}
.slider-about-item-text-bg {
  display: flex;
  width: 100rem;
  height: 70rem;
  background-color: rgba(#000, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  img {
    width: 100%;
    height: 100%;
    display: flex;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.75);
  }
}
.slider-about-item-text {
  position: absolute;
  display: flex;
  // left: 18%;
  left: 36rem;
  flex-direction: column;
  margin-top: 12rem;
}
.slider-about-item-title {
  font-size: 4rem;
  font-family: "Lora-Regular";
  line-height: 5.1rem;
  font-weight: 200;
  color: $color-light-blue;
  position: relative;
  margin-bottom: 6rem;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2rem;
    width: 4rem;
    height: 0.3rem;
    background-color: #6492ff;
  }
}
.slider-about-item-description {
  display: flex;
  max-width: 57.3rem;
  width: 100%;
  color: $color-light-blue;
  font-size: 1.6rem;
  font-family: "Montserrat-Regular";
  line-height: 2.8rem;
}
.slider-about-item-description2 {
  margin-top: 4rem;
}

.slider-about-buttons {
  display: flex;
  gap: 2rem;
  color: $color-light-blue;
  width: 90%;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
}
.slider-about-buttons-right {
  display: flex;
  gap: 2rem;
}

.slider-about-button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: $color-light-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-about-btn-arrow-icon {
    display: flex;
    align-items: center;
    width: 2.5rem;
    svg {
      font-size: 2.5rem;
    }
  }

  .slider-about-btn-arrow-icon-left {
    margin-right: 1rem;
  }
  .slider-about-btn-arrow-icon-right {
    margin-left: 1rem;
  }

  .slider-about-arrow-right {
    display: flex;
    align-items: center;
    position: relative;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    height: 20px;
    width: 90px;
    margin-left: 1rem;
  }
  .slider-about-arrow-right::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 20px;
    margin-top: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(-45deg);
    transition: 160ms ease-out 80ms;
  }
  .slider-about-arrow-right::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 20px;
    height: 1px;
    background-color: #fff;
    transition: 160ms ease-out 80ms;
  }
  .slider-about-arrow-right:hover::before {
    transform: translateX(10px) rotate(-45deg);
  }
  .slider-about-arrow-right:hover::after {
    width: 35px;
  }
}

.slider-about-indicators {
  display: flex;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  gap: 3rem;
  color: $color-light-blue;
  //   position: relative;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-about-indicator-buttons-dot {
  border: none;
  cursor: pointer;
  color: $color-light-blue;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicators > button {
  //   margin: 5px;
  background: none;
}

.slider-about-dot {
  width: 12px;
  height: 12px;
  background-color: $color-light-blue;
  border-radius: 100%;
  z-index: 100;
  position: absolute;
  transition: 0.1s ease-in-out;
}

.slider-about-dot-active {
  //   background-color: transparent;
  //   position: relative;
  //   width: 18px;
  //   transition: 0.1s ease-in-out;
  width: 3rem;
  //   width: 12px;
  height: 12px;
  border-radius: 0.5rem;
  background-color: $color-blue;
  transition: 0.1s ease-in-out;
}
